h1{
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Abel', sans-serif;
    background-color: rgb(39, 155, 155);
}

body, html{
    height: 500%;
    background-color: rgb(39, 155, 155);
}
  

/* 
 body#bgimg{
    opacity: 0.8;
    height: 500%;
    width: 100%;
}  */

.bg{
    height: max-content;
    width: max-content;
}

div{font-size: large; font-weight: 550; font-family: 'Noto Sans TC', sans-serif;}