<html>
  <!-- <head><link href="https://fonts.googleapis.com/css?family=Abel|Noto+Sans+TC&display=swap" rel="stylesheet">
  </head> -->
  <h1 style="text-align: center">Food Recipe System</h1>
  <nav class="navbar navbar-dark bg-primary" style="background-color: #c5e7ff;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a *ngIf = "!flag" class="navbar-brand" href="http://localhost:4200/home"></a>
      </div>
      <ul class="nav navbar-nav">
          <li><a [routerLink]="['home']">User Login Service</a></li>
          <li *ngIf = "!flag"><a [routerLink]="['register']">Register</a></li>
          <li *ngIf = "!flag"><a [routerLink]="['login']">Login</a></li>
          <!--<li *ngIf = "flag"><a [routerLink]="['update']">Update Details</a></li>-->
          <!--<li *ngIf = "flag"><a [routerLink]="['list']">List Employee</a></li> -->
          <!-- <li *ngIf = "flag"><a [routerLink]="['search']">Search Employee</a></li>
          <li *ngIf = "flag"><a [routerLink]="['bank']">Bank Details</a></li> 
          <li *ngIf = "flag"><a [routerLink]="['password']">Change Password</a></li>
          <li *ngIf = "flag"><a [routerLink]="['applyClaim']">Apply Claim</a></li>
          <li *ngIf = "flag"><a [routerLink]="['modifyClaim']">Modify Claim</a></li> -->
          <li *ngIf = "flag"><a [routerLink]="['logout']">Logout</a></li>
          <!--<li *ngIf = "flag"><a>Welcome, {{employee.name}}</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li *ngIf = "flag"><a [routerLink]="['logout']"><img src="../assets/sign-out-option.png"></a></li>
    </ul>
    
    </div>
  </nav>
  <body id = "bgimg" background="../assets/169602779.jpg">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div></body></html>